[Desktop Entry]
Name=Contained Zoom
Comment=Zoom in a Container
Exec=~/.local/contained-zoom/run-zoom.sh %U
Terminal=false
Type=Application
Categories=Network;
StartupWMClass=Zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
Name[en_US]=Contained Zoom
